#logoform{
    width: 200px;
  }
  .titleform{
  color: #2d354c;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  width: 100%;
  /* width: 100%; */
  }
  .form{
  /* background-color: #d6d621; */
  background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .09);
    
    margin: -12px auto 0px;
    max-width: 355px;
    padding: 24px 30px 32px;
  
  }
  
  .blockform{
    width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .labelform{
    color: #86939E;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 16px 0 8px;
    text-align: left;
  }
  
  .inputform{
    text-align: center;
    color: black;
    margin: auto;
    padding: 0px;
  }
  
  .inputform input{
    /* background-color: rgb(232, 240, 254); */
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    color: black;
    padding: 8px 5px;
    width: 95%;
  
  }
  
  .inputform select{
    background-color: #fff;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    color: black;
    padding: 8px 6px;
    width: 100%;
    
  }
  #editactivity-date{
    background-color: #fff;
  
  }
  
  .btnform {
    background: #642323;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 60px;
    padding: 13px 0;
    text-align: center;
    width: 100%;
  }