.logoutxt{
    color: #2d354c;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    width: 100%;
    /* width: 100%; */
    }
  
  
  .xcar-img{
    height: 300px;
    background-color: red;
    background-blend-mode: multiply; 
    
  }
  .xnavbar-bottom {
    background-color: rgb(255, 255, 255);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    bottom: 0;
    overflow: hidden;
    left: 0px;
  }
  
  
  
  .xnavbar-bottom ul {
    /*float: right; recordar quitar y 
    usar bootstrap*/
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .xnavbar-bottom li {
    display: inline-block;
    padding: .4rem 3.5%;
  
  }
  .xnavbar-bottom a {    
    text-decoration: none;  
  }
  .xnavbar-title{
    color:#000;
    font-size: .8rem;
    margin: 0px;
  }
  
  .xnavbar-texticon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .xnavbar-icon{
    height: 10vh;
    min-height: 25px;
    max-height: 40px;
  }