@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body { 
  font-family: Montserrat;
  text-align: center ;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 20px;
  background: #686de0; 
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
}




